# ==============================
# Ortam Değişkenleri (Environment Variables)
# ==============================

# Sunucu Ayarları
PORT=3001
NODE_ENV=development

# MySQL Veritabanı Bağlantısı Ayarları (Docker kullanıyorsanız db kısmını eşleştirin)
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=secret
DB_NAME=ajanda_db

# Kimlik Doğrulama (JWT)
JWT_SECRET=Sizin_Gizli_Anahtariniz_Buraya_Yazim
JWT_EXPIRES_IN=7d

# E-Posta Gönderimi (SMTP Ayarları)
# Google, Yandex veya Mailtrap kullanabilirsiniz
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=ornek_mail@gmail.com
MAIL_PASS=ornek_uygulama_sifresi
